<div class="carousel">
    <button class="carousel__button carousel__button--left is-hidden">
        <img src="https://cdn-icons-png.flaticon.com/512/60/60775.png" alt="">
    </button>
  
    <div class="carousel__track-container">
    
      <ul class="carousel__track">
        <li class="carousel__slide current-slide"[routerLink]="['/travelinfo']">
        <img class="carousel__image" src="https://i.postimg.cc/tRxLPgsx/info-slide.png" alt="Info Icon">
          </li>
        <li class="carousel__slide"[routerLink]="['/info-bus']">
          <img class="carousel__image" src="https://images.unsplash.com/photo-1569448096483-1114dddb646d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="Bus Icon">
        </li>
        <li class="carousel__slide" [routerLink]="['/info-parking']">
          <img class="carousel__image" src="https://images.unsplash.com/photo-1618518438729-2b1df21ef79d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Auto Icon">
        </li>
        <li class="carousel__slide" [routerLink]="['/info-bahn']">
          <img class="carousel__image" src="https://images.unsplash.com/photo-1680733431127-16869ccd32c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=800" alt=Zug Icon>
        </li>
      </ul>
    </div>

    <button class="carousel__button carousel__button--right">
      <img src="https://cdn-icons-png.flaticon.com/512/60/60758.png" alt="">
    </button>

    <div class="carousel__nav">
      <button class="carousel__indicator current-slide"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
      <button class="carousel__indicator"></button>
    </div>
  </div>