.box-wrapper {
  margin-bottom: 1rem;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.403)0px 10px 10px;
  padding: 1.5rem;
  border-radius: 2rem;
  background: rgb(251, 251, 251);
  max-width: 100%;
  overflow-wrap: break-word;
}

.box:hover {
  box-shadow: #e4446c 0px 10px 20px;
}

.container {
  width: 100%;
  height: 20rem;
  background: white;
  padding: 1rem;
  padding-bottom: 4vh;
}

h2 {
  font-size: 1.5rem;
}

body{
  margin-bottom: 4vh;
}


.my-button {
  width: 50%;
  background-color: #e4446c;
  border: none;
  color: #fff;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding: 1vh;
}

.my-button:hover {
  background-color: #05a407;
}

.box-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


ul {
  list-style: none;
}

li {
  position: relative;
  padding-left: 2em;
  list-style: none;
}

li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  border-top: 0.2em solid black;
  border-right: 0.2em solid black;
  transform: rotate(45deg);
  margin-right: 0.5em;
}

@media only screen and (min-width: 768px) { 
  p {
    font-size: 1.25rem; /* adjust as needed */
  }
  h2 {
    font-size: 2.1rem; /* adjust as needed */
  }

  .my-button{
    font-size: 1.25rem;
  }
}




