<!DOCTYPE html>
<html>
  <head>
    <title>Bus Info</title>
  </head>
  <body>
    <header>
      <h1>Bus und Shuttle Informationen</h1>
      <nav>
        <ul>
            <li class="list" [routerLink]="['/travelinfo']">Allg. Infos </li>
            <li class="list" [routerLink]="['/info-bahn']">Bahn </li>
            <li class="list" [routerLink]="['/info-parking']">Parken mit dem Auto </li>
        </ul>
      </nav>
    </header>
    <main>
      <app-info-bus-text></app-info-bus-text>
    </main>
  
  </body>
</html>

