<!DOCTYPE html>
<html>
  <head>
    <title>Bus Info</title>
  </head>
  <body>
    <header>
      <h1>Bus und Shuttle Informationen</h1>
      <nav>
        <ul>
            <li class="list" [routerLink]="['/travelinfo']">Allg. Infos </li>
            <li class="list" [routerLink]="['/info-bahn']">Bahn </li>
            <li class="list" [routerLink]="['/info-parking']">Parken mit dem Auto </li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Mit dem BUGA 23-Express und der Linie 7 ohne Umsteigen zum Spinelli-Park</h2>
        <p>Vom Mannheimer Hauptbahnhof erreichen Sie den Spinelli-Park zwischen etwa 8.30 Uhr und 14 Uhr mit dem BUGA 23-Express, der rnv-Sonderbahnlinie BS bis zur Haltestelle Talstraße. Wenn Sie aus den Innenstädten von Mannheim oder Ludwigshafen zum BUGA 23-Gelände möchten, erreichen Sie die Haltestelle Talstraße bequem mit der rnv-Bahnlinie 7 beispielsweise von den Haltestellen Abendakademie, Paradeplatz, Schloss, Universität sowie Berliner Platz und LU Rathaus.</p>
        <h2>Mit dem P+R-Shuttlebus vom Großparkplatz Maimarkt zum Spinelli-Park</h2>
        <p>Für die Anreise mit dem Auto wird dringend die Nutzung des Park & Ride-Großparkplatzes am Maimarkt empfohlen. Ab dort pendelt ganztägig ab etwa 8:30 Uhr bis etwa 22 Uhr die rnv-Sonderbuslinie "P+R Shuttlebus" in dichtem Takt zum und vom Haupteingang Spinelli-Park, wo der BUGA 23 Besuch ideal beginnen kann. An Tagen mit Abend- oder Sonderveranstaltungen wird die Linie "P+R Shuttlebus" auch länger bedient.</p>

      </section>
      <h2>Mit der BUGA 23-Luisenparklinie und den Linien 6 und 9 zum Luisenpark</h2>
    
      <p>Der Luisenpark, wo die BUGA 23 ebenfalls stattfindet, ist über die gleichnamige rnv-Bahnhaltestelle direkt erreichbar. Vom Mannheimer Hauptbahnhof aus erreichen Sie diese mit der Linie, die ab dem 3. April neu über die Haltestelle MA Hauptbahnhof fährt. Wer aus der Richtung Bad Dürkheim, Berliner Platz oder LU Hauptbahnhof kommt, erreicht den Luisenpark ohne Umsteigen mit der Linie 9 Express, die auch über MA Hauptbahnhof fährt.

        Zwischen etwa 14 Uhr und etwa 22 Uhr bietet die rnv-Sonderbahnlinie BL (BUGA 23-Luisenparklinie) zusätzliche, dicht getaktete Direktverbindungen zwischen dem Mannheimer Hauptbahnhof, dem Luisenpark, dem Park & Ride Großparkplatz Maimarkt und der Haltestelle SAP Arena S-Bf - mit Übergang zu Regional- und S-Bahn - und ermöglicht somit auch eine entspannte Abreise nach dem Besuch der beiden Parkteile. An Tagen mit Abend- oder Sonderveranstaltungen werden diese Linien entsprechend länger bedient.</p>
      <section>
      <h2>Keine Lust auf Seilbahn? Mit dem P+R Shuttlebus vom Luisenpark zu Spinelli und zurück</h2>
    
      <p>Zusätzlich zur Panorama-Seilbahn werden die Fahrten der rnv-Sonderbuslinie P+R alle 20 Minuten über die Haltestelle SAP Arena S-Bf hinaus ohne weitere Zwischenhalte zum Luisenpark und ab dort wieder zurück zum BUGA 23 Haupteingang Spinelli geführt. Somit wird ganztägig eine seilbahnunabhängige Direktverbindung zwischen beiden Parkteilen hergestellt.

        Bitte beim Zustieg die entsprechende Beschilderung "Luisenpark (BUGA 23)" der P+R-Busse beachten.</p>
        </section>
        <footer>
            Sämtliche rnv-Bahn- und -Buslinien, mit denen die beiden BUGA 23-Haltestellen Talstraße und Luisenpark/Technoseum erreichbar sind, sind in Fahrtrichtung BUGA 23 jeweils mit einem zusätzlichen Piktogramm auf den Haltestellenschildern gekennzeichnet. Für die BUGA 23-Sonderlinien BS (BUGA 23-Express), BL (BUGA 23 Luisenparklinie) und P+R (Shuttlebus) wurden zudem separate Linienschilder installiert. Somit ist auch beim unmittelbaren Zustieg an den Haltestellen eine einfache Orientierung gewährleistet. An den Umsteige- und Ausstiegshaltestellen MA Hauptbahnhof, SAP Arena S-Bf, Talstraße, BUGA 23 Haupteingang Spinelli-Park sowie Luisenpark/Technoseum ermöglichen weitere Wegweiser ein sicheres Auffinden der BUGA 23-Zugänge und -Linien.
        </footer>
    </main>
  
  </body>
</html>

