body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  background-color: #e4446c;
  color: #fff;
  padding: 20px;
  border-radius: 2rem;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.heading {
  background-color: #e4446c;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 2rem;
  font-size: 1.8rem;
  max-width: fit-content;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: auto;
  max-width: 60%;
  padding: 0 20px; /* Added padding to the sides */
}

h1 {
  font-size: 3rem;
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

nav ul li:hover {
  text-decoration: underline;
}

.list {
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    max-width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  nav li {
    font-size: 0.9rem;
  }
}

.container {
  margin-bottom: auto;
  padding: 20px;
}

.Element-1 {
  max-width: 100%;
  max-height: 100%;
}

.Element-2 {
  display: grid;
}

.box-wrapper {
  margin-bottom: 1rem;
}

.box {
  box-shadow: rgba(0, 0, 0, 0.403) 0px 10px 10px;
  padding: 1.5rem;
  border-radius: 2rem;
  background: rgb(251, 251, 251);
  overflow-wrap: break-word;
}

.box:hover {
  box-shadow: #e4446c 0px 0px 5px;
}

.container {
  max-width: 100%;
  background: white;
  padding: 1rem;
  padding-bottom: 4vh;
}

h2 {
  font-size: 1.5rem;
}

body {
  margin-bottom: 4vh;
}

.my-button {
  width: 70%;
  background-color: #e4446c;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin-top: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding: 1vh;
  display: block;
  margin: auto;
  transition: box-shadow 0.3s;
  background: linear-gradient(45deg, #e4cc3c, #e52e71); /* Start- und Endfarben des Verlaufs */
  background-size: 150% 150%; /* Größe des Verlaufs */
  transition: background-position 0.5s; /* Übergangsanimation für Hintergrundposition */
  background-position: right bottom;
}

.my-button:hover {
  box-shadow: #e4446c 0px 2px 5px;
  transform: scale(1.1); /* Skalierung des Buttons beim Hovern */
  background-position: center;
}

.box-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-button:active {
  box-shadow: #e4446c 0px 0px 10px; /* Hinzufügen des Leuchteffekts beim Klicken */
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .my-button {
    font-size: 1.25rem
;
}
}


.table-container {
  max-width: 100%;
  overflow-x: auto;
}
table {
border-collapse: collapse;
width: auto;
max-width: 100%;
margin: auto;
overflow-x: auto;
}

th,
td {
padding: 10px;
text-align: center;
}

th {
background-color: #eee;
}

thead th {
position: sticky;
top: 0;
z-index: 1;
}

tbody {
  max-height: 300px; /* Maximalhöhe der Tabelle, die scrollbar sein soll */
  overflow-y: scroll; /* Vertikales Scrollen, falls notwendig */
}

tbody th {
font-weight: normal;
text-align: center;
}

footer {
background-color: #f8f8f8;
color: #777;
font-size: 14px;
padding: 20px;
text-align: center;
width: 100%;
max-width: 800px;
margin: auto;
}

