.bc-p-p {
  background-color: #dcf0f1;
}
 .parking-text-box {
   border-radius: 1em;
 }

 .rounded-box-content {
   border-radius: 1em 0 0 1em;
 }

.rounded-box-logo {
  border-radius: 0 1em 1em 0;
}

.parking_logo_back {
  background: url('/assets/icon/parking_logo.svg') no-repeat right #dcf0f1;
  background-size: contain;
}
