.bc-p-p {
  background-color: #83B2E1;
}

.text-box {
  /*background: url('/assets/icon/parking_logo.svg') no-repeat right #c3d1da;*/
  background: url('/assets/icon/parking_logo.svg') no-repeat right #dcf0f1;
  /*background-color: #dcf0f1;*/
  background-size: contain;
  border-radius: 1em;
}

.parking_logo {
  height: 100%;
  float: right;
  margin-right: -0.75em;

}
