<div class="container-lg bc-b d-flex align-items-center" style="min-height: 13em;">
  <h1 class="p-5 text-light">CAMPINGPLÄTZE</h1>
</div>

<div id="carParkingContent" class="content" style="display: block;">
  <div class="container-lg">
    <div class="row">
      <ng-container *ngFor="let item of caravanParkingLots;">
        <div class="col-md-6 padding-own">
          <div>
            <div class = "col-12"><app-parkingItemCapacity [parking]="item"></app-parkingItemCapacity></div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of campsiteParkingLots;">
        <div class="col-md-6 padding-own">
          <div>
            <div class = "col-12"><app-parkingItemCapacity [parking]="item"></app-parkingItemCapacity></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="hidden-info">
  <h3>Parkplatzliste</h3>
  <div>
    <h5>Parkplatz auf Karte finden</h5>
    <p>Durch einen Klick auf einen Parkplatz deiner Wahl kannst, du dir diesen auf der Karte anzeigen lassen.</p>
    <img src="assets/info/video/findPAOnMap.gif" alt="Die Erklärung konnte nicht geladen werden." class="shadow m-2 info-gif-big">
  </div>
</div>
