<div class="container-lg bc-b d-flex align-items-center" style="min-height: 13em;">
  <h1 class="p-3 text-light">WOHNMOBILSTELLPLÄTZE</h1>
  <svg width="105" height="117" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"
       style="margin-left: auto; margin-right: 3em">
    <path d="M12,6H9A1,1,0,0,0,8,7V17a1,1,0,0,0,2,0V14h2a4,4,0,0,0,0-8Zm0,6H10V8h2a2,2,0,0,1,0,4ZM19,2H5A3,3,0,0,0,2,5V19a3,3,0,0,0,3,3H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2Zm1,17a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z" fill="#FFFFFF"/>
  </svg>
</div>

<div id="carParkingContent" class="content" style="display: block;">
  <div class="container-lg">
    <div class="row">
      <ng-container *ngFor="let item of caravanParkingLots;">
        <div class="col-md-6 padding-own">
          <div>
            <div class = "col-12"><app-parkingItemCapacity [parking]="item"></app-parkingItemCapacity></div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngFor="let item of campsiteParkingLots;">
        <div class="col-md-6 padding-own">
          <div>
            <div class = "col-12"><app-parkingItemCapacity [parking]="item"></app-parkingItemCapacity></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="hidden-info">
  <h3>Parkplatzliste</h3>
  <div>
    <h5>Parkplatz auf Karte finden</h5>
    <p>Durch einen Klick auf einen Parkplatz deiner Wahl kannst, du dir diesen auf der Karte anzeigen lassen.</p>
    <img src="assets/info/video/findPAOnMap.gif" alt="Die Erklärung konnte nicht geladen werden." class="shadow m-2 info-gif-big">
  </div>
</div>
