<form action = "" class="m-4">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <label for="fnumberline" style="width:100%" class="p-2 mx-2">Nummer der Linie:</label><br>
        </div>
        <div class="col-md-3">
            <input type="text" style="width:100%" class="p-2 mx-2 input-field"><br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"><label for="fstart" style="width:100%" class="p-2 mx-2">Abfahrtsort:</label><br>
            <input type="text" style="width:100%" class="p-2 mx-2 input-field"><br>
        </div>
        <div class="col-md-3"><label for="fdestination" style="width:100%" class="p-2 mx-2">Zielort:</label><br>
            <input type="text" style="width:100%" class="p-2 mx-2 input-field"><br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"><label for="fstarttime" style="width:100%" class="p-2 mx-2">Abfahrtszeit:</label><br>
            <input type="time" style="width:100%" class="p-2 mx-2 input-field"><br>
        </div>
        <div class="col-md-3"> <label for="farrivaltime" style="width:100%" class="p-2 mx-2">Ankunftszeit:</label><br>
            <input type="time" style="width:100%" class="p-2 mx-2 input-field"><br>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><input type="submit" class="rounded p-2 mx-2 my-4 w-100 bc-lp tc-p"
                style="border-style: none; font-weight: 500;"></div>
        <div class="col-md-4"></div>
    </div>

</form>