.img{
    text-align: center;
    margin-top: 4vh;
 }

 p {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 0 auto;
}
  