<div class="img">
    
    <img [src]="'assets/image/ConnectionTicket.png'" (click)="toggleText()">
    <p *ngIf="show" class="text">Entdecke die Bundesgartenschau 2023 in Mannheim und nutze das Kombi-Tickets für Tages- oder 2-Tageskarten, um bequem und klimaneutral mit Bus & Bahn anzureisen! Die Tickets gelten am Veranstaltungstag für Hin- und Rückfahrt mit allen Bussen, Straßenbahnen und freigegebenen Zügen (bei der DB: RE, RB und S-Bahn) im gesamten VRN-Gebiet. Die beiden Veranstaltungsbereiche, das Spinelli-Gelände und der Luisenpark, sind durch eine Seilbahn verbunden und mit dem ÖPNV-Netz in Mannheim ideal erreichbar. Zusätzlich zu den regulären Stadtbahnlinien gibt es während der BUGA 2023 drei leistungsstarke Sonderlinien, um eine schnelle und ökologische Anreise zu gewährleisten. Sichere dir jetzt dein Kombi-Ticket und erlebe die Bundesgartenschau 2023 in Mannheim!</p>
    </div>
