<div *ngIf="(fahrplan === 'true')">
    <p class="fahrplan">Fahrplan</p>
    <p class="linie">{{ linie }}</p>
    <script src="haltestelle-info.component.ts">changeFahrplanValue();</script>
</div>

<div class="haltestelle-info">
    <p class="halt">P20 - Luisenpark - Halt 1 </p>

    <div class="station" role="button">
        <p (click)="testStation()">Station</p>
    </div>

    <div class="startZeit" role="button">
        <p (click)="testStartZeit()">Start Uhrzeit</p>
    </div>

</div>

<div class="neueHaltestelle" role="button">
    <p (click)="testNeu()">+</p>
</div>

// TODO: irgendwie fahrplan variable in der component klasse ändern dass der erste div nur 1x ausgeführt wird
