<section>
  <div class="all shadow-own white-font row bc-p-p rounded-box">

      <div class="content white-font rounded-box-content p-3" [ngClass]="{'col-md-12': auslastungen.length === 0, 'col-content': auslastungen.length > 0}">
      <h5 class="fw-bold headline-size">{{parkingName}}</h5>
      <p class="white-font">{{parkingAddress}}</p>
      <div class="tag-container">
        <li class="tag" *ngIf="parking.barrierfree === true">Barrierefrei</li>
        <li class="tag" *ngIf="parking.charging === true">Ladestationen</li>
        <li class="tag-halter" *ngIf="parking.charging === false && parking.barrierfree === false">.</li>
      </div>
    </div>

    <div class="col-grafik" *ngIf="auslastungen.length !== 0">
      <div class="auslastungsGrafik">
        <ng-container *ngFor="let index of auslastungen; index as i">
          <span class="line-vertical " [ngStyle]="{'height.%': auslastungen.at(i)}"></span>
        </ng-container>
      </div>
    </div>

  </div>
</section>
