<div class="container">
    <div m-5 class = ' p-5'>
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Hochschule Heilbronn <br />
            Körperschaft des öffentlichen Rechts <br />
            Vertreten durch den Rektor Professor Dr.-Ing. Oliver Lenzen <br />
            Max-Planck-Str. 39 <br />
            74081 Heilbronn <br />
            Tel.: 07131 / 504-0 <br />
            E-Mail: info@hs-heilbronn.de
        <p>

        <h2>Kontakt</h2>
        <p>E-Mail: <a href="mailto:marvindavidhill+get2buga@gmail.com">marvindavidhill+get2buga@gmail.com</a></p>

        <h2>Redaktionell verantwortlich</h2>
        <p>Marvin Hill<br />
            Nedim Limani<br />
            Kevin Reifschneider<br />
            Julian Freudenberger<br />
            Lara Mangi<br />
            Jonas Gierlich<br />
            <br />
            Hochschule Heilbronn <br />
            Körperschaft des öffentlichen Rechts <br />
            Max-Planck-Str. 39 <br />
            74081 Heilbronn <br />
    </div>
</div>
