<div *ngIf = "state === 0"><h3>Nothing to see</h3></div>
<div *ngIf = "state === 1" class="row">
    <div class="col text-center">
        <img class="m-4" src="assets/icon/parkingIcon.svg" alt="parking-icon">
        <h2>Sap Arena P6</h2>
        <p>mockupstraße 123, 11111 Mannheim</p>
        <div role="button" class="google-routing-button" style="margin-left: auto; margin-right: auto; width: 25%;" (click) = "openMaps();">
            <img src="assets/icon/googleMaps.svg" alt="google maps">
        </div>
    </div>
        
</div>
<div *ngIf = "state === 2">RNV Details</div>
