<div *ngIf="observerService.show === ObserverState.PARKING" class="row">
    <div class="col text-center">
        <img class="m-4" src="assets/icon/parkingIcon.svg" alt="parking-icon">
        <h2>{{observerService.data.name}}</h2>
        <div class="my-2">
            <p *ngIf="observerService.data.barrierfree" class="p-0 m-0">
                Barrierefrei : Ja
            </p>
            <p *ngIf="!observerService.data.barrierfree" class="p-0 m-0">
                Barrierefrei : Nein
            </p>
            <p *ngIf="observerService.data.charging" class="p-0 m-0">
                Ladestationen : Ja
            </p>
            <p *ngIf="!observerService.data.charging" class="p-0 m-0">
                Ladestationen : Nein
            </p>
        </div>
        <div role="button" class="google-routing-button" style="margin-left: auto; margin-right: auto; width: 25%;"
            (click)="openMaps();">
            <img src="assets/icon/googleMaps.svg" alt="google maps">
        </div>
      <div *ngIf="observerService.data.maxCapacity !== 0" class="graph-container">
        <div class="graph"><app-capacity-graph [parking]="observerService.data"></app-capacity-graph></div>
      </div>
    </div>
</div>

<div *ngIf="observerService.show === ObserverState.CAMPSITE" class="row">
  <div class="col text-center">
    <img class="m-4" src="assets/image/camping_observer_icon.svg" alt="parking-icon">
    <h2>{{observerService.data.name}}</h2>
    <div class="my-2">
      <p *ngIf="observerService.data.electricity" class="p-0 m-0">
        Strom : Ja
      </p>
      <p *ngIf="!observerService.data.electricity" class="p-0 m-0">
        Strom : Nein
      </p>
      <p *ngIf="observerService.data.water" class="p-0 m-0">
        Wasserversorgung : Ja
      </p>
      <p *ngIf="!observerService.data.water" class="p-0 m-0">
        Wasserversorgung : Nein
      </p>
      <p *ngIf="observerService.data.dogsAllowed" class="p-0 m-0">
        Hunde erlaubt : Ja
      </p>
      <p *ngIf="!observerService.data.dogsAllowed" class="p-0 m-0">
        Hunde erlaubt : Nein
      </p>
    </div>
    <div role="button" class="google-routing-button" style="margin-left: auto; margin-right: auto; width: 25%;"
         (click)="openMaps();">
      <img src="assets/icon/googleMaps.svg" alt="google maps">
    </div>
  </div>
</div>

<div *ngIf="observerService.show === ObserverState.CARAVAN" class="row">
  <div class="col text-center">
    <img class="m-4" src="assets/icon/parkingIcon.svg" alt="parking-icon">
    <h2>{{observerService.data.name}}</h2>
    <div class="my-2">
      <p *ngIf="observerService.data.barrierfree" class="p-0 m-0">
        Barrierefrei : Ja
      </p>
      <p *ngIf="!observerService.data.barrierfree" class="p-0 m-0">
        Barrierefrei : Nein
      </p>
      <p *ngIf="observerService.data.charging" class="p-0 m-0">
        Ladestationen : Ja
      </p>
      <p *ngIf="!observerService.data.charging" class="p-0 m-0">
        Ladestationen : Nein
      </p>
    </div>
    <div role="button" class="google-routing-button" style="margin-left: auto; margin-right: auto; width: 25%;"
         (click)="openMaps();">
      <img src="assets/icon/googleMaps.svg" alt="google maps">
    </div>
  </div>
</div>

<div *ngIf="observerService.show === ObserverState.RNV">RNV Details {{observerService.data}} </div>
<div *ngIf="observerService.show === ObserverState.SHUTTLE">
    <app-timeline [shuttleLine]="observerService.data" [restrictSize]="false"></app-timeline>
</div>
<div *ngIf="observerService.show === ObserverState.NOTHING">
    <p>Keine Details für dieses Objekt.</p>
</div>

<div *ngIf="observerService.show === ObserverState.ENTRANCE" class="row">
  <div class="col text-center">
      <img class="m-4" src="assets/icon/EntranceDetails.png">
      <h2>{{observerService.data.entranceDescription}}</h2>
      <div class="my-2">
          <p class="p-0 m-0">
              {{observerService.data.openingHours}}
          </p>
      <div role="button" class="google-routing-button" style="margin-left: auto; margin-right: auto; width: 25%;"
          (click)="openMaps();">
          <img src="assets/icon/googleMaps.svg" alt="google maps">
      </div>
  </div>
</div>