<!DOCTYPE html>
<html>
  <head>
    <title>Parken</title>
  </head>
  <body>
    <header>
      <h1>Parken mit dem Auto</h1>
      <nav>
        <ul>
          <li class="list" [routerLink]="['/travelinfo']">Allg. Infos </li>
          <li class="list" [routerLink]="['/info-parking']">Parken</li>
          <li class="list" [routerLink]="['/info-bus']">Bus und Shuttle</li>
          <li class="list" [routerLink]="['/info-bahn']">Bahn </li>    
      </ul>
      </nav>
    </header>
    <app-info-parking-text></app-info-parking-text>
  
  </body>
</html>

