<!DOCTYPE html>
<html>
  <head>
    <title>Parken</title>
  </head>
  <body>
    <main>
    <header>

        <h1>Parken mit dem Auto</h1>
        <div class="header-content">
        <nav>
          <ul>
            <li class="list" [routerLink]="['/travelinfo']">Allg. Infos </li>
            <li class="list" [routerLink]="['/info-parking']">Parken</li>
            <li class="list" [routerLink]="['/info-bus']">Bus</li>
            <li class="list" [routerLink]="['/info-bahn']">Bahn </li>
          </ul>
        </nav>
      </div>
    </header>
      <div class="container">
        <div class="box-wrapper">
          <div class="box">
            <h2>Wo kann ich parken?</h2>
            <p>
              Rund um die beiden Ausstellungsflächen gibt es keine Parkmöglichkeiten für private Besucher*innen.
              Daher empfehlen wir die Parkplätze am Maimarktgelände:
              <b>Wilhelm-Varnholt-Allee, Mannheim</b>
            </p>
          </div>
        </div>
        <div class="box-wrapper">
          <div class="box">
            <h2>Vom Parkplatz zur Buga</h2>
            <p>Ein <a href="https://www.rnv-online.de/fahrtinfo/buga23/">Shuttle-Bus</a> verkehrt zwischen Parkplatz und Spinelli Park. Das Parkticket für einen Tag kostet im Online-Vorverkauf {{ preisService.getPreisShuttleParkplatz('onlineVerkauf') }} Euro und direkt am Parkplatz {{ preisService.getPreisShuttleParkplatz('vorOrtVerkauf') }} Euro.  <a href="https://parken-mannheim.de/buga23">Ticket sichern</a>.</p>
          </div>
        </div>
        <div class="box-wrapper">
          <div class="box">
            <h2>Weitere Parkmöglichkeiten</h2>
            <button class="my-button" [routerLink]="['/parking']" >
              Alle Parkplätze
            </button>
          </div>
        </div>
        <div class="box-wrapper">
          <div class="box">
            <h2>Anreise kompensieren?</h2>
            <p>In Kooperation mit der Klimaschutzstiftung Baden-Württemberg bieten wir unseren Besucher*innen die Möglichkeit, freiwillig ihre Anreise zu kompensieren. Hier finden Sie alle Informationen sowie das Formular für Ihren Beitrag für eine klimafaire Anreise zur BUGA 23.
            </p>
            <div class="box-button">
              <button (click)="redirectToPage()" class="my-button" >
                Jetzt kompensieren!
              </button>
            </div>
          </div>
        </div>
      </div>
  </main>
  </body>
</html>
