<div class="container">
    <h3 class="m-3">TRANSPORTATION</h3>
   <div class = "row">
      <div class = "col-lg-4"><app-transport-entry [text]="'Shuttles'" [imageName]="'bus.png'" [routerLink]="['/shuttle']"></app-transport-entry></div>
      <div class = "col-lg-4"><app-transport-entry [text]="'Parkplätze'" [imageName]="'parkinglot.png'"></app-transport-entry></div>
      <div class = "col-lg-4"><app-transport-entry [text]="'Bus'" [imageName]="'shuttle.png'"></app-transport-entry></div>
      <div class = "col-lg-4"><app-transport-entry [text]="'Zug'" [imageName]="'train.png'"></app-transport-entry></div>
    </div>
  </div>
