<!-- Section: Timeline -->
<section class="py-5">
  <div class="row p-2 background-bar bc-g">
    <div class="p-2 text-box">
      <h5 class="fw-bold">{{lineName}}</h5>
      <ul class="timeline">
        <li class="timeline-item mb-5">
          <p class="text-muted mb-2 fw-bold">{{lineScheduleEntryList}} + {{arrivalTime}}</p>
        </li>

        <li class="timeline-item mb-5">
          <p class="text-muted mb-2 fw-bold">{{stationDesignator2}} + {{arrivalTime}}</p>
        </li>
        <li class="timeline-item mb-5">
          <p class="text-muted mb-2 fw-bold">{{stationDesignator2}} + {{arrivalTime}}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Section: Timeline -->