<!-- Section: Timeline -->
<section class="py-5">
    <div class="row p-2 background-bar bc-g">
        <div class="p-2 text-box">
            <h5 class="fw-bold">{{text}}</h5>
    <ul class="timeline">
      <li class="timeline-item mb-5">
        <p class="text-muted mb-2 fw-bold" id="elements1">Elements 1</p>
      </li>
  
      <li class="timeline-item mb-5">
        <p class="text-muted mb-2 fw-bold" id="elements2">Elements 2</p>
      </li>
  
      <li class="timeline-item mb-5">
        <p class="text-muted mb-2 fw-bold">{{text}}</p>
      </li>

      <li class="timeline-item mb-5">
        <p class="text-muted mb-2 fw-bold">{{text}}</p> 
    </li> 
    </ul>
</div>
</div>
</section>
  <!-- Section: Timeline -->
 