<!-- Section: Timeline -->
<section >
  <div class="row p-1">
    <div class="text-box bc-g round p-3">
      <h5 class="fs-5 fw-bold">{{lineName}}</h5>
      <p class="fst-italic" style="text-align: right;">{{this.lineScheduleEntryList[0].stationDesignator}} -
        {{this.lineScheduleEntryList[number].stationDesignator}}</p>
        <div style="overflow-x: hidden; overflow-y: auto;" class="height">
          <ul class="timeline">
            <li class="timeline-item1" style="text-align: start;">
              <p class="fw-normal">{{this.lineScheduleEntryList[0].stationDesignator}}</p>
            </li>
            <li class="timeline-item"
              *ngFor="let lineScheduleEntry of lineScheduleEntryList,let first = first ;let last = last;let i = index; "
              style="text-align: start;">
              <div *ngIf="!first && !last">
                <p class="fw-normal">{{lineScheduleEntry.stationDesignator}}
                </p>
              </div>
            </li>
            <li class="timeline-item1"
            *ngFor="let lineScheduleEntry of lineScheduleEntryList,let first = first ;let last = last;let i = index; "
            style="text-align: start;">
            <div *ngIf="last">
              <p class="fw-normal">{{lineScheduleEntry.stationDesignator}}
              </p>
            </div>
          </li>
          </ul>
        </div>
      
      
  </div>
</div>
</section>
<!-- Section: Timeline -->