/* You can add global styles to this file, and also import other style files */
.bc-g{
    background-color: #ECF4E5;
}

.bc-b {
  background-color: #0677e0;
}

.bc-p{
    background-color: #E1416D;
}

.bc-dg{
    background-color: #678C47;
}

.bc-w{
    background-color: #ffffff;
}
.bc-w{
    background-color: #ffffff;
}

.bc-lp{
    background-color: #FFDCF7;
}

.tc-p{
    color: #E1416D;
}

.hidden-info{
    display: none;
}
.info{
    display: block;
}
.info-gif-big{
    height:30em;
    width: auto;
    max-height: 60vh;
}
.info-gif-small{
    height:15em;
    width: auto;
    max-height: 60vh;
}

.info-img-big{
    height:30em;
    width: auto;
    max-height: 60vh;
}
.info-img-small{
    height:15em;
    width: auto;
    max-height: 60vh;
}
