<div class="map-container-small" id="map-container" [ngStyle]="{ 'height':this.mapHeight}">
  <div class="inner-container">
    <button id="resize" class=resize-button (click)="resizeMap()">resize map</button>
    <div class="row bootstrap-container bc-w">
      <div [ngClass] = "minimized === true ? 'col border-rounded' : 'col-md-8 order-md-2' " style="padding: 0;">
        <div id="map" [ngClass] = "minimized === true ? 'map border-rounded' : 'map' "></div>
      </div>
      <div id="sidebar" class="sidebar col-md-4 order-md-1" *ngIf="(isLoggedIn === true && !minimized)">SIDEBAR</div>
    </div>
  </div>
</div>