.map-container-large {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
}

.map-container-small {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.resize-button {
  position: absolute;
  top: 11%;
  left: 85%;
  z-index: 2;
}
