.map-container-large {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.map-container-small-desktop {
  position: absolute;
  left: 2em;
  bottom: 2em;
  width: 10em;
  height: 10em;
  margin: 0;
  z-index: 1;
  border-radius: 10%;
}

.map-container-small-mobile {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  border-radius: 2em 2em 0 0;
}

.map-container-large .map {
  border-radius: 0;
}

.map-container-small-desktop .map {
  border: outset #ECF4E5 4px;
  border-radius: 10%;
}

.map-container-small-mobile .map {
  border: outset #ECF4E5 4px;
  border-radius: 2em 2em 0 0;
}

#map {
  height: 100%;
}

.sidebar{
  height: 100%;
  width: 30%;
}

.bootstrap-container{
  width: 100%;
  height: 100%;
}

.inner-container{
  width: 100%;
  height: 100%;
}

.resize-button {
  position: absolute;
  top: 0;
  right: 90%;
  width: 3em;
  height: 3em;
  z-index: 401;
}
