.map-container-large {
 position: fixed;
 z-index: 1000;
 bottom: 0;
 left: 0;
 max-width: 100%;
 width: 100%;
 margin: 0em;
 overflow: hidden;
 border-radius: none;
 border-style: none;
}

.map-container-small-desktop {
  position: fixed;
  left: 2em;
  bottom: 2em;
  width: 10em;
  height: 10em;
  margin: 1em;
  border-radius: 1em;
  border-style: none;
}

.border-rounded{
  border-radius: 1em;
}

.inner-container{
  position: relative;
  margin: 0;
  z-index: 1;
  border-radius: 10%;
  width: 100%;
  height: 100%;
}

.map-container-small-mobile {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;
  border-radius: 2em 2em 0 0;
}

.map-container-large .map {
  border: outset #ECF4E5 4px;
  border-radius: 0;
}

.map-container-small-desktop .map {
  border: outset #ECF4E5 4px;
  border-radius: 10%;
}

.map-container-small-mobile .map {
  border: outset #ECF4E5 4px;
  border-radius: 2em 2em 0 0;
}

#map {
  height: 100%;
}

.bootstrap-container{
    width: 100%;
    height: 100%;
    margin: 0;
}

.resize-button-max {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 3em;
  height: 3em;
  z-index: 500;
  border: outset #ECF4E5 4px;
  border-radius: 1em;
  background: lightgray;
}

.resize-button-min {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 0;
  height: 0;
}

.sidebar{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10001;
  overflow-y: scroll;
  overflow-x: hidden;
}
