<div class="container center-form w-100">
    <div class="row p-2">
        <div class="col-md-4"></div>
        <input type="text" class="col-md-4" style="height: 2em;" placeholder="Email / Username">
        <div class="col-md-4"></div>
    </div>
    <div class="row p-2">
        <div class="col-md-4"></div>
        <input type="password" class="col-md-4" style="height: 2em;" placeholder="Passwort">
        <div class="col-md-4"></div>
    </div>
    <div class="row p-2">
        <div class="col-md-5"></div>
        <button type="submit" class="col-md-2 rounded p-2" style="border-style: solid; background-color: transparent; border-color: black;">🔑 Einloggen</button>
        <div class="col-md-5"></div>
    </div>
    <div  class="bc-g p-3 tc-dg" style="text-align: center; border-radius: 1em;" *ngIf="responseState === SUCCESS">
        <h3>Der Account wurde erfolgreich erstellt</h3>
    </div>
    <div class="bc-lp p-3 tc-p" style="text-align: center; border-radius: 1em;" *ngIf="responseState === FAILURE">
        <h3>Ein Einloggen war leider nicht möglich.</h3>
        <p>Bitte überprüfen Sie Ihr Username bzw Email und Passwort</p>
    </div>
</div>