.line-vertical {
  background-color: #0677e0;
  border-radius: 99px;
  margin-left:  0.2rem;
  margin-right: 0.2rem;
  align-self: flex-end;
  /* Breite der einzelnen Linien */
  padding-right: 0.6rem;
  margin-top: auto;
  z-index: 30;
}

.container-of-all {
  height:100%;
  width:100%;
  z-index: 20;
}

.graph {
  height: 96%;
  display: flex;
  padding: 0.3rem;
  align-items: baseline;
  overflow-x: auto;
  width:100%;
  z-index: 25;
}
