<div class="container-of-all">
  <div class="header-font fw-bold">Auslastung:</div>
  <div class="graph">
    <ng-container *ngFor="let index of auslastungen; index as i">
      <ng-container *ngIf="i < 3">
        <span class="line-vertical color-past" [ngStyle]="{'height.%': auslastungen.at(i)}"></span>
      </ng-container>
      <ng-container *ngIf="i === 3">
        <span class="line-vertical color-now" [ngStyle]="{'height.%': auslastungen.at(i)}"></span>
      </ng-container>
      <ng-container *ngIf="i > 3">
        <span class="line-vertical color-forecast" [ngStyle]="{'height.%': auslastungen.at(i)}"></span>
      </ng-container>
    </ng-container>
  </div>
  <div class="scale-container">
    <div class="time-container scale-font">{{((currentDateTime.getHours()-3) %24) + ":00"}}</div>
    <div class="time-container scale-font"></div>
    <div class="time-container scale-font">{{(currentDateTime.getHours()) + ":00"}}</div>
    <div class="time-container scale-font"></div>
    <div class="time-container scale-font">{{((currentDateTime.getHours()+3) %24) + ":00"}}</div>
    <div class="time-container scale-font"></div>
    <div class="time-container scale-font">{{((currentDateTime.getHours()+6) %24) + ":00"}}</div>
  </div>
</div>
